%main
  .container
    .row
      .col.m3.s12
        .card
          .card-image
            %img{src: 'images/photo.jpg'}
            %span.card-title
              Malaev Alexander
          .card-content
            .b-contacts
              .b-header Contacts
              .b-contacts-contact
                .fa.fa-envelope
                %a{href: 'mailto:scream@spuge.net'} scream@spuge.net
              .b-contacts-contact
                .fa.fa-github
                %a{href: 'https://github.com/spscream'} github.com/spscream
              .b-contacts-contact
                .fa.fa-twitter
                %a{href: 'https://twitter.com/spscream'} twitter.com/spscream
              .b-contacts-contact
                .fa.fa-facebook
                %a{href: 'https://facebook.com/alexander.malaev'} alexander.malaev
      .col.m9.s12
        .row
          .col.s12.m6
            .b-experience.card-panel
              .b-header Work Experience
              .b-places
                .b-place
                  2013 - 2015
                  %a{href: "http://mobigear.ru"} Mobigear LLC
                  Lead Developer
                .b-place
                  2012 - 2013
                  %a{href: "http://auto.ru"} Auto.ru Holding
                  Lead System Administrator
                .b-place
                  2010 - 2012
                  %a{href: "http://alt-lan.ru"} Alt-Lan
                  Head of Infrastructure Department
                .b-place
                  2009 - 2010
                  %a{href: "http://mobicont.ru"} Mobicont
                  System administrator
                .b-place
                  2007 - 2009
                  %a{href: "http://begun.ru"} Begun.ru
                  IT System Administrator
          .col.s12.m5
            .b-expertises.card-panel
              .b-header Expertises
              .b-expertises-expertise Backend and Frontend Development
              .b-expertises-expertise Systems / requirements analysis
              .b-expertises-expertise Services Management
              .b-expertises-expertise Infrastructure management
        .row
          .col.s12.m6
            .b-buzzwords.card-panel
              .b-header Software Development Buzzwords
              .b-buzzwords-buzzword Ruby, RoR, Sinatra
              .b-buzzwords-buzzword Python, Django
              .b-buzzwords-buzzword JS, CoffeeScript, Backbone.js, MarionetteJS
              .b-buzzwords-buzzword Sidekiq, Resque, RabbitMQ
              .b-buzzwords-buzzword Memcache, Redis
              .b-buzzwords-buzzword PostgreSQL, MySQL, MongoDB
              .b-buzzwords-buzzword TDD/BDD, Rspec, Cucumber, Capybara
              .b-buzzwords-buzzword GIT, Git Flow, Mercurial, Github, Bitbucket
              .b-buzzwords-buzzword API, RESTful, SOAP
              .b-buzzwords-buzzword HTML5,HAML,Slim,SASS,LESS,CSS3
              .b-buzzwords-buzzword Pivotal Tracker, JIRA, Asana, Assembla
              .b-buzzwords-buzzword Scrum, Kanban
          .col.s12.m6
            .b-buzzwords.card-panel
              .b-header System Administration & DevOps Buzzwords
              .b-buzzwords-buzzword Linux, FreeBSD
              .b-buzzwords-buzzword Docker, Vagrant, VirtualBox, qemu, XEN
              .b-buzzwords-buzzword HA.Proxy, Nginx, Apache, Puma, Unicorn
              .b-buzzwords-buzzword Capistrano, Puppet, SaltStack
              .b-buzzwords-buzzword Jenkins, Travis.ci
              .b-buzzwords-buzzword Zabbix, Nagios
              .b-buzzwords-buzzword TCP/IP, HTTP, DNS

%footer.page-footer
  .footer-copyright
    .container
      © 2015 Alexander Malaev
